
/* Custom Containers */
.custom-header {
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: #0a2107;
  text-align: center;
  color: #e5f4e3;
}

.custom-footer {
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  background-color: #9d8420;
  text-align: right;
  font-size: 8pt;
  color: #ffffff;
  position: absolute;
}
a {
  color: #acc3b6;
}
a:hover {
  color: #719883;
}
a:active {
  color: #719883 !important;
}


/* Alter existing css */
.container-fluid {
  padding: 0;
}

.well {
  margin: 0;
  margin-bottom:-101%;
  padding-bottom:101%;
  background-color: #acc3b6;
  border: none;
  border-radius: 0;
}

.row {
  background-color: #e5f4e3;
  overflow:hidden;
}

label {
  margin-bottom: 0;
}
hr {
  border-top: 2px solid #0A2107;
  margin: 0;
}

.ticker-input {
  background-color: #acc3b6;
  overflow:visible;
}

.btn {
  width: 100%;
  white-space: normal;
}

.pretty .state label:after, .pretty .state label:before {
  background-color: #ffffff !important;
}