
/* Custom Containers */
.custom-header {
  width: 100%;
  margin: 0;
  padding: 15px;
  background-image:url("possible_bg.png");
  background-color: #0a2107;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(10, 33, 7,.75);
  text-align: center;
  color: #e5f4e3;
}

.custom-footer {
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  background-color: #9d8420;
  text-align: right;
  font-size: 10pt;
  color: #ffffff;
  position: absolute;
}
a {
  color: #acc3b6;
}
a:hover {
  color: #719883;
}
a:active {
  color: #719883 !important;
}


/* Alter existing css */
.container-fluid {
  padding: 0;
}

.well {
  margin: 0;
  margin-bottom:-301%;
  padding-bottom:301%;
  background-color: #acc3b6;
  border: none;
  border-radius: 0;
}

.row {
  background-color: #e5f4e3;
  overflow:hidden;
}

label {
  margin-bottom: 0;
}
hr {
  border-top: 2px solid #0A2107;
  margin: 0;
}

.ticker-input {
  background-color: #acc3b6;
  overflow:visible;
}

.btn {
  width: 100%;
  white-space: normal;
}

.pretty .state label:after, .pretty .state label:before{
  background-color: gray !important;
}

.expand {
  background-color: #4B6858;
  color: #E5F4E3;
  border: 0;
  text-align:right;
}
.expand:hover {
  background-color: #4B6858;
  color: #ACC3B6;
  border: 0;
  text-align:right;
}
.expand:active {
  background-color: #4B6858 !important;
  color: #ACC3B6 !important;
  border: 0 !important;
  text-align:right;
}
.expand:focus {
  background-color: #4B6858 !important;
  color: #E5F4E3 !important;
  border: 0 !important;
  text-align:right;
}

.chart-opts {
  padding:15px; 
  background-color:#4B6858; 
  margin-bottom:15px;
  color:#ffffff;
  margin: 5px;
  height: 100%;
}

.progress-bar {
  background-color: #0A2107;
}